.social-container {
    background-color: #303030;
    padding: 35px 0;
    .foot {
      margin: auto;
      display: flex;
      justify-content: space-between;
      .social {
        color: #0282f9;
        font-weight: bolder;
        display: flex;
        align-items: center;
        span {
          padding-right: 10px;
        }
        img {
          cursor: pointer;
          padding: 5px;
        }
      }
    }
    button {
      color: white;
      background-color: transparent;
      border: 2px solid #0282f9;
      font-weight: bolder;
      padding: 10px;
      &:hover {
        background-color: #0282f9;
      }
    }
  }